<mat-tab-group dynamicHeight>

  <mat-tab label="Crear factura">
    <div style="padding: 15%;">
      <h2>Crear factura</h2>

      <div *ngIf="Items">
        <h3>Items agregados a la factura actual</h3>

        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Valor unitario</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Items">
                <th scope="row">{{item.id}}</th>
                <td>{{item.descripcionItem}}</td>
                <td>{{item.cantidadItem}}</td>
                <td>{{item.valorUnitarioItem}}</td>
                <td>
                  <button type="button" class="btn btn-danger" (click)='delete(item)'>Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>



          <form [formGroup]="ItemForm" (ngSubmit)="addItem()" novalidate>

            <div class="form-group">
              <label>Descripcion del item</label>
              <input type="text" formControlName="descripcionItem" class="form-control" maxlength="20" required>
            </div>
            <div class="form-group">
              <label>Cantidad</label>
              <input type="number" class="form-control" formControlName="cantidadItem" maxlength="50" required>
            </div>
            <div class="form-group">
              <label>Valor unitario</label>
              <input type="number" formControlName="valorUnitarioItem" class="form-control" required>
            </div>
            <div style="text-align: right;">
               <button type="submit" class="btn btn-primary">Agregar Item</button>
            </div>
           
          </form>


        </div>
      </div>

<hr>



      <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>

        <div class="form-group">
          <label>Razon social emisor</label>
          <input type="text" formControlName="razonSocialEmisor" class="form-control" maxlength="20" required>
        </div>
        <div class="form-group">
          <label>NIT Emisor</label>
          <input type="text" class="form-control" formControlName="NITEmisor" maxlength="50" required>
        </div>
        <div class="form-group">
          <label>Razon social receptor</label>
          <input type="text" formControlName="razonSocialReceptor" class="form-control" required>
        </div>
        <div class="form-group">
          <label>NIT Receptor</label>
          <input type="text" formControlName="NITReceptor" class="form-control" required>
        </div>

        <div style="text-align: center;">
          <label>Valor neto: {{valorNeto}}</label>
          <label>Valor IVA: {{valorIVA}}</label>
          <label>Valor total: {{valorTotal}}</label>
        </div>

        <button type="submit" class="btn btn-primary">Guardar factura</button>
      </form>



    </div>



  </mat-tab>


  <mat-tab label="Listar">

    <div style="padding: 15%;">
      <h2>Buscar facturas</h2>
      <input type="text">
    </div>




  </mat-tab>
</mat-tab-group>